.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
Example/Pods
Example/FiservTTP.xcodeproj/project.xcworkspace/xcshareddata
Example/FiservTTP.xcworkspace/xcshareddata
